@{
    ViewData["Title"] = "Home Page";
}

<div id="bg">
</div>
<div>
    <div class="div-field">
        <a class="" asp-area="" asp-controller="Home" asp-action="metamask"><button class="btn" style="width:300px">Ethereum</button></a>
    </div>
    <div class="div-field">
        <a class="" asp-area="" asp-controller="Home" asp-action="metamask"><button class="btn" style="width:300px">Binance</button></a>
    </div>
    <div class="div-field">
        <a class="" asp-area="" asp-controller="Home" asp-action="metamask"><button class="btn" style="width:300px">Polygon</button></a>
    </div>
    <div class="div-field">
        <a class="" asp-area="" asp-controller="Home" asp-action="Tron"><button class="btn" style="width:300px">Tron</button></a>
    </div>
</div>