@{
    ViewData["Title"] = "MetaMask";
}

<script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
<script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bignumber.js@9.0.0/bignumber.min.js"></script>
@*<script src="https://cdn.jsdelivr.net/npm/metamask/connect@1.2.0/dist/metamask.min.js"></script>*@
<script src="https://unpkg.com/@@walletconnect/web3-provider@1.7.1/dist/umd/index.min.js"></script>

<div id="bg">
</div>
<div>
    <div class="div-field">
        <button onclick="connectbutton()" class="btn" id="getMessage">Connect with Metamask</button>
    </div>
    <div class="div-field">
        <button onclick="connectWalletButton()" class="btn" id="getMessageWalletConnect">Connect with MetaMask Mobile</button>
    </div>

    <div class="div-field">
        <p id="status"></p>
    </div>
</div>
<div style="display:none;" id="checkdivWalletConnect">
    <div style="display:none;">
        <input type="text" id="account" hidden />
        <input type="text" id="chainIds" hidden />
    </div>
    <div class="div-field">
        <label>USDT Balance</label>
        <p id="balance"></p>
    </div>
    <div class="div-field">
        <input type="text" placeholder="Reciever" id="reciever" required />
    </div>
    <div class="div-field">
        <input type="number" placeholder="Amount" id="amountsent" required />
    </div>
    <div class="div-field">
        <button onclick="transferWalletConnect()" class="btn">Transfer</button>
    </div>

    <div class="div-field">
        <button onclick="DisconnectWalletConnect()" class="btn">Disconnect from MetaMask Mobile</button>
    </div>
    <div class="div-field">
        <p id="status"></p>
    </div>
</div>
<div style="display:none;" id="checkdiv">
    <div style="display:none;">
        <input type="text" id="account" hidden />
        <input type="text" id="chainIds" hidden />
    </div>
    <div class="div-field">
        <label>USDT Balance</label>
        <p id="balance"></p>
    </div>
    <div class="div-field">
        <input type="text" placeholder="Reciever" id="reciever" required />
    </div>
    <div class="div-field">
        <input type="number" placeholder="Amount" id="amountsent" required />
    </div>
    <div class="div-field">
        <button onclick="transfer()" class="btn">Transfer</button>
    </div>
    <div class="div-field">
        <input type="text" placeholder="TxHash" id="transactionHash" required />
    </div>
    <div class="div-field">
        <button onclick="checkTransactions()" class="btn">Check Hash</button>
    </div>
    <div class="div-field">
        <p id="status"></p>
    </div>
</div>

<script>
    window.onload = function () {
        document.getElementById("checkdiv").style.display = "none";

    };
    const USDTETH = "0xdAC17F958D2ee523a2206206994597C13D831ec7";
    const USDTBNB = "0x55d398326f99059fF775485246999027B3197955";
    const USDTPolygon = "0xc2132D05D31c914a87C6611C10748AEb04B58e8F";
    // USDT BNB => 0x55d398326f99059fF775485246999027B3197955
    // USDT ETH => 0xdAC17F958D2ee523a2206206994597C13D831ec7
    // USDT Polygon => 0xc2132D05D31c914a87C6611C10748AEb04B58e8F
    const ABI = [
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "account",
                    "type": "address"
                }
            ],
            "name": "balanceOf",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        }
    ];

    const transferABI = [
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "to",
                    "type": "address"
                },
                {
                    "internalType": "uint256",
                    "name": "amount",
                    "type": "uint256"
                }
            ],
            "name": "transfer",
            "outputs": [
                {
                    "internalType": "bool",
                    "name": "",
                    "type": "bool"
                }
            ],
            "stateMutability": "nonpayable",
            "type": "function"
        }
    ];
    const connectbutton = async () => {
        try {
            const { chainId, account, balance } = await connectWithMetamaskss();
            const inputElement = document.getElementById("account");
            inputElement.value = account;
            const chainid = document.getElementById("chainIds");
            chainid.value = chainId;
            //alert(chainId)
            if (chainId != '') {
                document.getElementById("getMessage").style.visibility = "hidden";
                document.getElementById("getMessageWalletConnect").style.visibility = "hidden";
                //document.getElementById("checkdiv").style.visibility = "visible";
                document.getElementById("checkdiv").style.display = "block";
            }
            if (chainId == '0x89') {
                // Polygon 0x89
                // Ethereum Mainnet 0x1
                // BSC 0x38
                const TokenBalance = balanceOfToken(account, USDTPolygon);
                let balanceinNumber = TokenBalance / 1000000;
                document.getElementById("balance").innerText = `${balanceinNumber}`;
            } else if (chainId == '0x1') {
                // Polygon 0x89
                // Ethereum Mainnet 0x1
                // BSC 0x38
                const TokenBalance = balanceOfToken(account, USDTETH);
                let balanceinNumber = TokenBalance / 1000000;
                document.getElementById("balance").innerText = `${balanceinNumber}`;
            } else if (chainId == '0x38') {
                // Polygon 0x89
                // Ethereum Mainnet 0x1
                // BSC 0x38
                const TokenBalance = balanceOfToken(account, USDTBNB);
                let balanceinNumber = TokenBalance / 1000000;
                document.getElementById("balance").innerText = `${balanceinNumber}`;
            }
            else {
                alert("Please select Mainnet Blockchain");
            }
        } catch (error) {
            document.getElementById("status").innerText = `Error: ${error}`;
        }
    }
    const connectWalletButton = async () => {
        try {
            //alert("Test");
            const { chainId, account, balance } = await connectWithConnectWallet();
            const inputElement = document.getElementById("account");
            inputElement.value = account;
            const chainid = document.getElementById("chainIds");
            chainid.value = chainId;
            //alert(chainId)
            if (chainId != '') {
                document.getElementById("getMessage").style.visibility = "hidden";
                document.getElementById("getMessageWalletConnect").style.visibility = "hidden";
                document.getElementById("checkdivWalletConnect").style.display = "block";
            }
            let balanceinNumber = balance / 1000000;
            document.getElementById("balance").innerText = `${balanceinNumber}`;
        } catch (error) {
            document.getElementById("status").innerText = `Error: ${error}`;
        }
    }
    function connectWithConnectWallet() {
        return new Promise((resolve, reject) => {
            var provider = new window.WalletConnectProvider.default({
                rpc: {
                    56: "https://bsc-dataseed.binance.org",
                    137: "https://polygon-rpc.com",
                    1: "https://mainnet.infura.io/v3",
                },
            });

            provider.enable().then(function (accounts) {
                // WalletConnect connection established
                console.log("Wallet connected");
                console.log("Connected accounts:", accounts);
                console.log(provider.chainId);
                console.log(provider.rpcUrl);

                window.web3 = new Web3(provider);
                // Get the balance of Ether (ETH) for the first connected account
                window.web3.eth.getBalance(accounts[0]).then(function (ethBalance) {
                    console.log("ETH Balance:", window.web3.utils.fromWei(ethBalance, "ether"));
                    // You can perform further actions with the ETH balance
                }).catch(function (error) {
                    console.error("Failed to retrieve ETH balance:", error);
                });

                if (provider.chainId == 1) {
                    // Create a contract instance for the USDT token
                    var usdtContract = new window.web3.eth.Contract(ABI, USDTBNB);

                    usdtContract.methods.balanceOf(accounts[0]).call().then(function (usdtBalance) {
                        console.log("USDT Balance:", usdtBalance);
                        // You can perform further actions with the USDT balance
                        resolve({ chainId: provider.chainId, account: accounts[0], balance: usdtBalance });
                    }).catch(function (error) {
                        console.error("Failed to retrieve USDT balance:", error);
                    });
                }
                else if (provider.chainId == 56) {
                    // Create a contract instance for the USDT token
                    var usdtContract = new window.web3.eth.Contract(ABI, USDTBNB);

                    usdtContract.methods.balanceOf(accounts[0]).call().then(function (usdtBalance) {
                        console.log("USDT Balance:", usdtBalance);
                        resolve({ chainId: provider.chainId, account: accounts[0], balance: usdtBalance });
                        // You can perform further actions with the USDT balance
                    }).catch(function (error) {
                        console.error("Failed to retrieve USDT balance:", error);
                    });
                }
                else if (provider.chainId == 137) {
                    // Create a contract instance for the USDT token
                    var usdtContract = new window.web3.eth.Contract(ABI, USDTPolygon);

                    usdtContract.methods.balanceOf(accounts[0]).call().then(function (usdtBalance) {
                        console.log("USDT Balance:", usdtBalance);
                        resolve({ chainId: provider.chainId, account: accounts[0], balance: usdtBalance });
                        // You can perform further actions with the USDT balance
                    }).catch(function (error) {
                        console.error("Failed to retrieve USDT balance:", error);
                    });
                }
                else {
                    alert("Please select Mainnet Blockchain");
                }
            });
        });
    }
    const DisconnectWalletConnect = async () => {
        var provider = new window.WalletConnectProvider.default({
            rpc: {
                56: "https://bsc-dataseed.binance.org/"
            },
        });

        //if (provider && provider.connected) {
        await provider.disconnect().then(function () {
            // WalletConnect session disconnected successfully
            console.log("Wallet disconnected");
            // You can perform further actions after disconnecting from the wallet
        }).catch(function (error) {
            // Error occurred while disconnecting from WalletConnect session
            console.error("Failed to disconnect wallet:", error);
        });
        //} else {
        //    console.log("No open wallet connection");
        //}

        return new Promise((resolve, reject) => {
            var provider = new window.WalletConnectProvider.default({
                rpc: {
                    56: "https://bsc-dataseed.binance.org/",
                    137: "https://polygon-mainnet.infura.io/",
                    1: "https://mainnet.infura.io/v3/",
                    8457: "https://dataseed-testnet.redlightscan.finance/"
                },
            });

            provider.enable().then(function (accounts) {
                // WalletConnect connection established

                window.web3 = new Web3(provider);

                // Create a contract instance for the USDT token
                var usdtContract = new window.web3.eth.Contract(transferABI, TokenAdd);

                // Perform the USDT token transfer
                var recipientAddress = recipientAdd; // Replace with the recipient's address
                var amount = amountSent; // Replace with the amount of USDT to transfer (in smallest unit, e.g., Wei)
            });

            // Disconnect from WalletConnect session
            //provider.disconnect();
            window.location.reload();
        });
        window.location.reload();
    }
    function connectWithMetamaskss() {
        return new Promise((resolve, reject) => {
            if (window.ethereum) {
                window.web3 = new Web3(window.ethereum);
                window.ethereum.send('wallet_requestPermissions', [{ eth_accounts: {} }])
                    .then(async () => {
                        const chainId = await window.ethereum.chainId;
                        const accounts = await window.web3.eth.getAccounts();
                        const balance = await window.web3.eth.getBalance(accounts[0]);

                        resolve({ chainId, account: accounts[0], balance });
                    })
                    .catch(error => reject(error));
            } else if (typeof window.ethereum !== 'undefined') {

                const connectButton = document.getElementById('connect-button');

                // Add event listener to connect button
                connectButton.addEventListener('click', async () => {
                    try {
                        // Request permission to connect
                        await window.ethereum.send('wallet_requestPermissions', [{ eth_accounts: {} }]);

                        // Get the selected account
                        const accounts = await window.ethereum.send('eth_accounts');
                        const account = accounts.result[0];

                        console.log(`Connected to Metamask account ${account}`);
                    } catch (error) {
                        console.error('Error connecting to Metamask:', error);
                    }
                });
            } else {
                reject("please install metamask extension");
            }
        });
    }
    const transferWalletConnect = async () => {
        try {
            const account = document.getElementById('account').value;
            const receiverAddress = document.getElementById('reciever').value;
            const amount = document.getElementById('amountsent').value;
            const chainId = document.getElementById('chainIds').value;
            const balanceToken = document.getElementById('balance').value;

            if (chainId == 137) {
                // Polygon 137
                // Ethereum Mainnet 1
                // BSC 56
                let amountinWei = new BigNumber(amount * 1000000);
                let amountinBig = amountinWei.toString();
                if (balanceToken > amount) {
                    //alert(TokenBalance);
                    const check = await TransferTokensUSDTsWalletConnect(USDTPolygon, account, receiverAddress, amountinBig);
                    //alert(check);
                    alert("Amount Transferred Successfully: ", check);
                }
                else {
                    alert('Amount is greater than Balance');
                }
            } else if (chainId == 1) {
                // Polygon 0x89
                // Ethereum Mainnet 0x1
                // BSC 0x38
                let amountinWei = new BigNumber(amount * 1000000);
                let amountinBig = amountinWei.toString();
                if (balanceToken > amount) {
                    //alert(TokenBalance);
                    const check = await TransferTokensUSDTsWalletConnect(USDTETH, account, receiverAddress, amountinBig);
                    //alert(check);
                    alert("Amount Transferred Successfully: ", check);
                }
                else {
                    alert('Amount is greater than Balance');
                }
            } else if (chainId == 56) {
                // Polygon 0x89
                // Ethereum Mainnet 0x1
                // BSC 0x38
                let amountinWei = new BigNumber(amount * 1000000);
                let amountinBig = amountinWei.toString();
                if (balanceToken > amount) {
                    //alert(TokenBalance);
                    const check = await TransferTokensUSDTsWalletConnect(USDTBNB, account, receiverAddress, amountinBig);
                    //alert(check);
                    alert("Amount Transferred Successfully: ", check);
                }
                else {
                    alert('Amount is greater than Balance');
                }
            }
        } catch (error) {
            console.error(error);
            alert(error);
            alert('Transfer failed. Please try again later.');
        }
    };
    const TransferTokensUSDTsWalletConnect = async (TokenAdd, fromAdd, recipientAdd, amountSent) => {
        return new Promise((resolve, reject) => {
            var provider = new window.WalletConnectProvider.default({
                rpc: {
                    56: "https://bsc-dataseed.binance.org/",
                    137: "https://polygon-rpc.com",
                    1: "https://mainnet.infura.io/v3/",
                },
            });

            provider.enable().then(function (accounts) {
                // WalletConnect connection established

                window.web3 = new Web3(provider);

                // Create a contract instance for the USDT token
                var usdtContract = new window.web3.eth.Contract(transferABI, TokenAdd);

                // Perform the USDT token transfer
                var recipientAddress = recipientAdd; // Replace with the recipient's address
                var amount = amountSent; // Replace with the amount of USDT to transfer (in smallest unit, e.g., Wei)
                var txHash = "";
                usdtContract.methods.transfer(recipientAddress, amount).send({ from: accounts[0] })
                    .then(function (transactionHash) {
                        console.log("USDT Transfer successful. Transaction hash:", transactionHash);
                        txHash = transactionHash;
                        // You can perform further actions after the transfer is successful
                        alert("Transaction Confirmed ", txHash);
                    })
                    .catch(function (error) {
                        console.error("Failed to transfer USDT:", error);
                    });

            });

            // Disconnect from WalletConnect session
            //provider.disconnect();

        });
    }
    async function checkBalance(walletAddress, contractAddress) {
        try {
            const balance = await balanceOfToken(walletAddress, contractAddress);
            document.getElementById("statusb").innerText = `Token balance: ${balance}`;
        } catch (error) {
            document.getElementById("statusb").innerText = `Error: ${error}`;
        }
    }
    function balanceOfToken(walletAddress, contractAddress) {
        return new Promise((resolve, reject) => {
            const contract = new window.web3.eth.Contract(ABI, contractAddress);
            contract.methods.balanceOf(walletAddress).call()
                .then(resp => resolve(resp))
                .catch(err => reject(err));
        });
    }
    const tokenTransfer = async (TokenAdd, fromAdd, recipientAdd, amountSent) => {
        const tokenAddress = TokenAdd;

        const tokenContract = new window.web3.eth.Contract(transferABI, tokenAddress);

        const fromAddress = fromAdd;
        const recipientAddress = recipientAdd;
        const amount = amountSent;

        const transferData = tokenContract.methods.transfer(recipientAddress, amount).encodeABI();


        const gasPrice = await web3.eth.getGasPrice();
        const gasLimit = 200000;

        const txObject = {
            to: tokenAddress,
            gas: gasLimit,
            gasPrice: gasPrice,
            data: transferData,
            from: fromAddress
        };
        const txHash = await web3.eth.sendTransaction(txObject);

        console.log(`Transaction hash: ${txHash}`);
        //alert(txHash);
    }
    const transfer = async () => {
        try {
            const account = document.getElementById('account').value;
            const receiverAddress = document.getElementById('reciever').value;
            const amount = document.getElementById('amountsent').value;
            const chainId = document.getElementById('chainIds').value;

            if (chainId == '0x89') {
                // Polygon 0x89
                // Ethereum Mainnet 0x1
                // BSC 0x38
                const TokenBalance = await balanceOfToken(account, USDTPolygon);
                let amountinWei = new BigNumber(amount * 1000000);
                let amountinBig = amountinWei.toString();
                if (TokenBalance > amountinWei) {
                    //alert(TokenBalance);
                    const check = await tokenTransfer(USDTPolygon, account, receiverAddress, amountinBig);
                    //alert(check);
                    alert("Amount Transferred Successfully: ", check);
                }
                else {
                    alert('Amount is greater than Balance');
                }
            } else if (chainId == '0x1') {
                // Polygon 0x89
                // Ethereum Mainnet 0x1
                // BSC 0x38
                const TokenBalance = await balanceOfToken(account, USDTETH);
                let amountinWei = new BigNumber(amount * 1000000);
                let amountinBig = amountinWei.toString();
                if (TokenBalance > amountinWei) {
                    //alert(TokenBalance);
                    const check = await tokenTransfer(USDTETH, account, receiverAddress, amountinBig);
                    //alert(check);
                    alert("Amount Transferred Successfully: ", check);
                }
                else {
                    alert('Amount is greater than Balance');
                }
            } else if (chainId == '0x38') {
                // Polygon 0x89
                // Ethereum Mainnet 0x1
                // BSC 0x38
                const TokenBalance = await balanceOfToken(account, USDTBNB);
                let amountinWei = new BigNumber(amount * 1000000);
                let amountinBig = amountinWei.toString();
                if (TokenBalance > amountinWei) {
                    //alert(TokenBalance);
                    const check = await tokenTransfer(USDTBNB, account, receiverAddress, amountinBig);
                    //alert(check);
                    alert("Amount Transferred Successfully: ", check);
                }
                else {
                    alert('Amount is greater than Balance');
                }
            }
            else {
                alert("Please select Mainnet Blockchain");
            }
        } catch (error) {
            console.error(error);
            alert(error);
            alert('Transfer failed. Please try again later.');
        }
    };
    const checkTransactions = async () => {
        try {
            let hash = document.getElementById('transactionHash').value;

            await checkTransactionStatus(hash);

        } catch (error) {
            console.error(error);
            alert(error);
            alert('Transfer failed. Please try again later.');
        }
    };
    async function checkTransactionStatus(transactionHash) {
        try {
            const receipt = await window.web3.eth.getTransactionReceipt(transactionHash);
            if (receipt) {
                alert('Transaction confirmed!');
                //console.log(receipt);
                // The transaction is confirmed
            } else {
                alert('Transaction not yet confirmed');
                // The transaction is not yet confirmed
            }
        } catch (error) {
            console.log('Error checking transaction status');
            console.error(error);
        }
    }
    function disconnectFromMetaMask() {
        // Check if MetaMask is installed
        if (typeof window.ethereum !== 'undefined') {
            // Clear the currently selected account
            web3.eth.accounts.wallet.clear();
            // Reset the provider to the default provider (e.g. Infura)
            window.web3 = new Web3(Web3.givenProvider || 'ws://localhost:8546');
            // Enable the "Connect to MetaMask" button
            document.getElementById('connectButton').disabled = false;
            // Hide the "Disconnect from MetaMask" button
            document.getElementById('disconnectButton').style.display = 'none';
            // Log a message to the console
            console.log('Disconnected from MetaMask');
        }
    }
</script>