@*<script src="https://cdn.jsdelivr.net/npm/tronweb/dist/tronweb.min.js"></script>*@


<div id="bg">
</div>
<div>
    <div class="div-field">
        <button onclick="connectWithTronLinkandGetBalance()" class="btn" id="getMessage">Connect with TronLink</button>
    </div>
    <div class="div-field">
        <p id="status"></p>
    </div>
</div>
<div style="display:none;" id="checkdiv">
    <div class="div-field">
        <label>TRX Balance</label>
        <p id="balance"></p>
    </div>
    <div class="div-field">
        <input type="text" placeholder="Reciever" id="reciever" required />
    </div>
    <div class="div-field">
        <input type="number" placeholder="Amount" id="amountsent" required />
    </div>
    <div class="div-field">
        <button onclick="connectWithTronLink()" class="btn">Connect and Transfer</button>
    </div>
    <div class="div-field">
        <p id="status"></p>
    </div>
</div>

<script src="https://cdn.tronlink.org/tronweb.js"></script>

<script>

    async function connectWithTronLink() {
        const receiverAddress = document.getElementById('reciever').value;
        const amount = document.getElementById('amountsent').value;
        if (window.tronWeb && window.tronWeb.defaultAddress.base58) {
            //TronLink is installed and the user is logged in
            const state = window.tronWeb.isConnected();
            if (state) {
                console.log('Connected to Tron Wallet');
            } else {
                console.log('Not connected to Tron Wallet');
            }
            const address = window.tronWeb.defaultAddress.base58;
            //alert(`Successfully connected with TronLink. Address: ${address}`);
            var testamount = amount * 1000000;

            let tx = await window.tronWeb.transactionBuilder.sendTrx(receiverAddress, testamount, address);
            var signedTx = await window.tronWeb.trx.sign(tx);
            var brostTx = await window.tronWeb.trx.sendRawTransaction(signedTx);
            alert("Amount Transfer Successfully");
        } else {
            // TronLink is not installed or the user is not logged in
            alert('Please install and log in to TronLink to connect.');
        }
    }

    async function connectWithTronLinkandGetBalance() {
        const receiverAddress = document.getElementById('reciever').value;
        const amount = document.getElementById('amountsent').value;
        if (window.tronWeb && window.tronWeb.defaultAddress.base58) {
            //TronLink is installed and the user is logged in
            const state = window.tronWeb.isConnected();
            if (state) {
                console.log('Connected to Tron Wallet');
            } else {
                console.log('Not connected to Tron Wallet');
            }
            const address = window.tronWeb.defaultAddress.base58;

            await window.tronWeb.trx.getBalance(address, function (error, balance) {
                if (error)
                    console.error(error);
                else {
                    //console.log(balance);
                    var balanceInNumber = balance / 1000000;
                    document.getElementById("getMessage").style.visibility = "hidden";
                //document.getElementById("checkdiv").style.visibility = "visible";
                document.getElementById("checkdiv").style.display = "block";
                    document.getElementById("balance").innerText = `${balanceInNumber}`;
                }
            });
        } else {
            // TronLink is not installed or the user is not logged in
            alert('Please install and log in to TronLink to connect.');
        }
    }
</script>